/**
 * Copyright (c) 2012 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */
 
body {
  margin: 5px 10px 10px;
 
  width: 200px;
  background-color: #f3f3f3 !important;
  font-family: Tahoma !important;
}

html{
	 
  width: 200px;
}

.right{
    float: right;
}
 
h1 {
  color: #53637D;
  font: 26px/1.2 Helvetica, sans-serif;
  font-size: 200%;
  margin: 0;
  padding-bottom: 4px;
  text-shadow: white 0 1px 2px;
}
.translates{
margin: 5px;
}

.inner: { position: relative; height: auto; }

.pre-scrollable{
	    max-height: 200px!important;
    overflow-y: scroll;
}

table{
  border: none !important;
  margin-bottom: 6px!important;

}
td{
  border-top: none !important;
}
.hidden {
  display: none;
  visibility: hidden;
} 

tr{
  background-color: #f8f8f8 !important;
}

.exam{

  font-size: 12px;
  text-align: center;
  padding: 5px;
}
.wait{
	    background: #fff245;
}
.img{
  display: block;
  height: 210px;
  margin: auto;
}

.reomve-com{
  margin-top: -7px;
  margin-right: -6px;
  font-size: 9px;
  cursor: pointer;
  //opacity :0;
}
tbody[data-render="replyes"]:hover>tr td i.reomve-com{

  opacity :1;

}
tbody.comment-body:hover>tr td i.reomve-com{

  opacity :1;

}



tbody[data-render="replyes"]>tr td .com-edit-div a{

  opacity :0;

}
p {
  font-family: Tahoma !important;
  font-size: 18px!important;
}

.com-edit-div{
  height: 63px;
  position: absolute;
  background-color: #E5E6E6;
  width: 99px;

  z-index: 999;
  border-radius: 3px;
  direction: rtl;
  box-shadow: 0px 0px 8px #B3B3B3;
left: 33px;
  margin-top: 10px;

}
.three{
	height: 100px!important;
}
.two{
	 height: 63px;
}
.com-edit-div{
 
  position: absolute;
  background-color: #E5E6E6;
  width: 99px;

  z-index: 999;
  border-radius: 3px;
  direction: rtl;
  box-shadow: 0px 0px 8px #B3B3B3;
left: 33px;
  margin-top: 10px;

}
.com-edit-div span {
  -webkit-transition-duration: .2s;

  transition-duration: .2s;
  padding: 4px 0 7px 8px;
  margin-bottom: 5px;
  text-align: center;
  background-color: #ddd;
  font-family: nassim;
  font-size: 13px !important;
  color: rgb(85, 85, 85) !important;
  cursor: pointer;
}
.com-edit-div span:hover {
  -webkit-transition-duration: .5s;

  transition-duration: .5s;
  background-color: #CACACA;

}
.cursor {

  -webkit-transition: all 1s;
  //padding-bottom: 55px;
  opacity: 0.4;

}

.trans{
  padding: 5px;
  text-align: right;
  font-size: 12px;
}

.newtrans{
	 padding: 5px;
  text-align: right;
  font-size: 12px;
    color: #00cfd9;
}
.word{
	    font-size: 15px;
    font-family: inherit;
    font-weight: 600;
    color: #656565;
}

.newword{
	    font-size: 15px;
    font-family: inherit;
    font-weight: 600;
    color: #00cfd9;
}
.bottom_txt{
  color: #cbdae8;
}
.s30{
  height: 22px;
}

.s18{
  height: 18px;
}

.edit{
  height: 13px;
  opacity: 0;
  -webkit-transition: all 0.3s

}
.cursor:hover {

   -webkit-transition: all 1s;
  opacity: 0.7;
  cursor: pointer;

 }
td:hover>.edit {
opacity: 0.5;
  -webkit-transition: all 0.7s;
  cursor: pointer;

}

label {
  color: #828282;
  font: 12px/1.4 tahoma!important;
  margin: 0.5em 0;
  font-weight: 300;
}
ul{
	margin: 0px !important;
}

.text_center{    text-align: center;}

.form-group {
   margin-bottom: 2px!important;
}
.add_new{
  float: right;
  opacity: 0.4;
  margin-right: 26px;
  margin-top: 10px;
}
.head {
  height: 70px;

  width: 100%;

}
.logo {
  height: 50px;
  position: fixed;
  left: 7px;
  margin: 7px;
}
.grad {
  background: #819def;
  background: -webkit-linear-gradient(left top, #3b71ff, #aeaeaf);
  background: -o-linear-gradient(bottom right, #3b71ff, #aeaeaf);
  background: -moz-linear-gradient(bottom right, #3b71ff, #aeaeaf);
linear-gradient(to bottom right, #3b71ff, #aeaeaf);
box-shadow: #444444;
  margin-left: 2px;
  margin-right: 2px;

}
.govde{
  margin: 5px;
}
.search{
  height:100px !important;
}

.nassim15{
  font-size: 25px !important;
}
body {
  background-color: #ffffff !important;
  transition: transform 0.25s ease;
  width: 350px;
  
}
.ex1{
  font-family: Tahoma;
  font-size: 18px;
  color: #444444;
}



.overlay {
  display: block;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 500px;
  padding: 20px;
  margin: -40px 0 0 -270px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  color: #FFF;
  font: 1.5em/1.2 Helvetica Neue, sans-serif;
  transition: all 1.0s ease;
  transform: scale(0);
}

.overlay a {
  color:  #FFF;
}

.overlay.visible {
  opacity: 1;
  transform: scale(1);
}
