
@font-face {
	font-family: rabie;
	src: url('fonts/Mj_Rabie.ttf');
}

@font-face {
	font-family: calibri;
	src: url('/resources/fonts/CALIBRI.ttf');
}

.center-block {
	float: none !important;
}

.post_date_block {
	background: url(/resources/images/img_logo.gif) top no-repeat;
	position: absolute;
	width: 18px;
	height: 68px;
	margin: 41px 0 0 -30px !important;
	margin: 41px 0 0 -246px;
	padding: 10px 0 0 0;
}

.live {
	float: left;
	padding: 0;
	margin: 0 0 0 -85px !important;
	width: 228px;
	position: none !important;
}

.logo {
	float: left;
	padding: 0;
	margin: 0 0 0 10px !important;
	width: 180px;
	height: 180px;
}

.itemidx {
	float: right;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	/*   height: 313px; */
}

#index_portfolio {
	float: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

.header_text {
	/*   width: 932px; */
	margin: 0 auto;
	padding: 0 !important;
	border-top: 6px solid #f0f0f0;
	border-bottom: 6px solid #f0f0f0;
}

.no_padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-bottom: 20px !important;
	padding-top: 15px !important;
}

.no-margin {
	margin: 0 0 0 0 !important;
}

.right_hot_deal2 {
	background: url(/resources/images/search_img.gif) top no-repeat;
	position: absolute;
	width: 18px;
	height: 68px;
	margin: 80 0 0 1180px !important;
	margin: 0 0 0 304px;
	padding: 0;
}

.search {
	margin-top: 45px;
}

.right_hot_deal {
	background: url(/resources/images/search_img.gif) top no-repeat;
	width: 27px;
	height: 75px;
	margin: 18px -67px 0 25px !important;
	float: right;
	padding: 0;
}

.keywords {
	width: 127px;
	line-height: 17px;
	height: 32px;
	background-color: #FFFFFF;
	float: left;
	border: 0;
	padding: 8px 2px;
	margin: 0px 0px 0px -2px;
	font: normal 12px Arial, Helvetica, sans-serif !important;;
	color: #000;
}

.glyphicon.glyphicon-search.btn-lg {
	padding: 3px 5px !important;
	/* color: #fff !important; */
}

body {
	background-image: url("/resources/images/main_bg.png");
}

div.main {
	background-color: #fff;
}

.main_live {
	background-color: rgb(247, 247, 247);
}

.main_cat {
	float: right !important;
}

.title {
	font-family: rabie;
	font-size: large;
	float: right;
	width: 100%;
	text-align: right;
}

.news_pic {
	float: right;
	margin: 10px;
}

.col-xs-12 {
	float: center !important;
}

.news_lead {
	text-align: right;
	font-family: monospace;
	font-size: 14px !important;
	margin-right: 8px !important;
	margin-bottom: 8px !important;
	font-size: 15px !important;
}

.news_lead0 {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif !important;
	font-size: 14px !important;
}

/* ///////////////////CMS FONT  */
.nassim19 {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif !important;
	font-size: 19px;
	line-height: 1.9;
}

.nassim19b {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif !important;
	font-size: 19px;
	font-weight: 600;
	line-height: 1.9;
}

.nassim25b {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif !important;
	font-weight: 600;
	font-size: 25px;
	margin-right: 25px;
}

.nassim25 {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif !important;
	font-size: 25px;
	margin-right: 25px;
}

.nassim16b {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif !important;
	font-size: 16px;
	font-weight: 600;
}

.nassim16 {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif !important;
	font-size: 16px;
}

.nassim16 {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif !important;
	font-size: 16px;
}

.nassim14b {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif !important;
	font-size: 14px;
	font-weight: 300;
}

.nassim14 {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif !important;
	font-size: 14px;
}

.nazanin12 {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif !important;
	font-size: 12px !important;
}

.nazanin13 {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif !important;
	font-size: 13px !important;
}

.nazanin14 {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif !important;
	font-size: 14px !important;
}

.nazanin15 {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif !important;
	font-size: 15px !important;
}

.nazanin16 {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif !important;
	font-size: 16px !important;
}

.nazanin12b {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif !important;
	font-size: 12px !important;
}

.nazanin13b {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif !important;
	font-size: 13px !important;
}

.nazanin14b {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif !important;
	font-size: 14px !important;
}

.nazanin15b {
	font-family: nazanin_bold;
	font-size: 15px !important;
}

.nazanin16b {
	font-family: nazanin_bold;
	font-size: 16px !important;
}

.news_text3 {
	font-family: nazanin !important;
	font-size: 13px !important;
}

.news_lead2 {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif !important;
	font-size: 12px !important;
	margin-right: 8px !important;
	/* 	color: rgb(85, 85, 85) !important; */
}

.news_lead3 {
	font-family: nassim !important;
	font-size: 17px !important;
}

input {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif !important;
	font-size: 14px !important;
	margin-right: 8px !important;
	font-size: 14px !important;
}

textarea {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif !important;
	font-size: 14px !important;
	margin-right: 8px !important;
	font-size: 14px !important;
}

.modal_lead {-apple-system , BlinkMacSystemFont, 'Segoe UI', 'Roboto',
	'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif !important;
	font-size: 14px !important;
	margin-right: 8px !important;
	font-size: 14px !important;
}

.news_text_list {
	text-align: justify !important;
	font-family: tahoma !important;
	font-size: 11px;
	display: list-item;
	margin-bottom: 10px;
}

.news_text {
	font-family: calibri !important;
	font-size: 9px;
	text-transform: uppercase;
}

.news_text2 {
	text-align: justify !important;
	font-family: nassim !important;
	font-size: 11px;
}

ul a {
	color: #000 !important;
	text-align: justify;
	font-family: tahoma;
	font-size: 11px;
}

.label-gray {
	font-family: tahoma;
	font-size: 11px;
	background-color: rgb(247, 247, 247);
}

.main_cat hr {
	margin-top: 10px;
	margin-bottom: 5px;
}

.my_logo {
	float: left;
	padding: 15px
}

.btn-lg {
	padding: 0px !important;
}

label {
	/* 	float: right; */
	
}

.contentHot {
	position: relative;
}

.titleImage {
	/*   height: 340px; */
	overflow: hidden;
}

.darkGray {
	background: rgba(137, 137, 137, 0.56);
	position: absolute;
	bottom: 0;
	width: 620px;

	/*   min-height: 70px; */
}

.slider_title {
	overflow: hidden;
	/*   padding: 13px 20px 0px; */
	/*   font-size: 19px; */
	margin-top: 5px !important;
	margin-bottom: 0px !important;
	font-family: nassim !important;
	color: #fff;
	position: absolute;
}

.calibri {
	font-family: calibri !important;
}

@media screen and ( min-width : 992px ) {
	.resposive_titr {
		font-size: 19px;
		padding-right: 14px;
	}
	.resposive_lead {
		font-size: 19px;
		padding-right: 4px;
		padding-top: 34px;
	}
	.cropp_size {
		height: 300px !important;
		width: 300px !important;
	}
	.resp_menu {
		min-width: 930px;
	}
}

@media screen and ( max-width : 992px ) {
	.resposive_titr {
		font-size: 14px;
		padding-right: 14px;
	}
	.resposive_lead {
		font-size: 14px;
		padding-right: 4px;
		padding-top: 22px;
	}
	.cropp_size {
		height: 200px !important;
		width: 200px !important;
	}
	.resp_menu {
		min-width: 900px;
	}
}

@media screen and ( max-width : 768px ) {
	.resposive_titr {
		font-size: 13px;
		padding-right: 14px;
	}
	.resposive_lead {
		font-size: 13px;
		padding-right: 4px;
		padding-top: 19px;
	}
	.resp_menu {
		min-width: 720px;
	}
}

@media screen and ( max-width : 640px ) {
	.resposive_titr {
		font-size: 10px;
		padding-right: 4px;
	}
	.resposive_lead {
		font-size: 10px;
		padding-right: 4px;
		padding-top: 17px;
	}
}

@media screen and ( max-width : 480px) {
	.resposive_titr {
		font-size: 9px;
		padding-right: 2px;
	}
	.resposive_lead {
		font-size: 9px;
		padding-right: 4px;
		padding-top: 17px;
	}
}

#cropContainerHeader {
	width: 200px;
	height: 150px;
	position: relative; /* or fixed or absolute */
}

.cropper_main {
	width: 461px;
	height: 300px;
	border: 7px solid transparent;
	border-radius: 21px;
}

.cropper-example-3 {
	width: 100%;
}

.cropper-example-3>img {
	/* 	max-width: 250px; */
	
}

.profile_preview_pic {
	width: 60px !important;
	height: 60px !important;
	background-color: #E2E2E2;
	border-radius: 10px;
}

.profile_pic {
	width: 40px;
	height: 40px;
	background-color: #E2E2E2;
	border-radius: 10px;
	margin-top: 8px;
}

.icon_pic {
	height: 60px;
	width: 50px;
}
.icon_pic2 {
	height: 30px;
	width: 25px;
}
 

.profile_img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

img#img {
	width: 30px;
	height: 30px;
	border-radius: 5px;
	margin-right: 6px;
}

pic_body {
	width: 100%;
	height: 100%
}

.profile_preview_txt {
	text-align: center !important;
	display: block;
	font-size: 30px;
	font-family: monospace;
	padding-top: 9px;
	font-weight: bold;
}

.profile_txt {
	text-align: center !important;
	display: block;
	font-size: 20px;
	font-family: monospace;
	padding-top: 6px;
	font-weight: bold;
}

header nav .navbar-nav>li:hover>a.dropdown-toggle {
	-webkit-transition-duration: .4s;
	Safari transition-duration: .4s;
	transition-duration: .4s;
	color: #d6223b;
	background-color: #e7e7e7;
	background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f3f3f3 100%);
	background-image: linear-gradient(to bottom, #ebebeb 0%, #f3f3f3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb',
		endColorstr='#fff3f3f3', GradientType=0);
	background-repeat: repeat-x;
	-webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
	margin: 0;
}

/* nav.navbar.nav_bordered:hover>.cat_edit { */
/*    height: 55px; */
/*   width: 100%; */
/*   position: absolute; */
/*   background-color: rgb(181, 181, 181); */
/*   z-index: 10; */
/*   opacity: .7; */
/* } */
header nav .navbar-nav>li.glyphicon:hover {
	-webkit-transition-duration: .4s;
	Safari transition-duration: .4s;
	transition-duration: .4s;
	color: #e23530;
}
div.dropdown-menu>div:hover {
	-webkit-transition-duration: .4s;
	Safari transition-duration: .4s;
	transition-duration: .4s;
	    background: darkgrey;
}

td>i.glyphicon:hover {
	-webkit-transition-duration: .4s;
	Safari transition-duration: .4s;
	transition-duration: .4s;
	color: #000000;
}

td>i.glyphicon {
	-webkit-transition-duration: .4s;
	Safari transition-duration: .4s;
	transition-duration: .4s;
	color: #909090;
	cursor: pointer;
}

span.glyphicon:hover {
	-webkit-transition-duration: .4s;
	Safari transition-duration: .4s;
	transition-duration: .4s;
	color: #bd9825;
	cursor: pointer;
}

a {
	/* 		color: #CD2027 !important; */
	color: #555555 !important;
}

.view [data-elm='paragraph'] a {
	color: #CD2027 !important;
}

.view [data-elm='title'] a {
	color: #CD2027 !important;
}

body div.main div.row.gray_table {
	background-color: rgb(248, 248, 248);
	box-shadow: 0px -2px 38px #B3B3B3;
}

body div.row.upper_table .btn {
	margin-bottom: 10px;
	margin-right: 10px;
}

.tab-content {
	margin-top: 20px;
}

td {
	font-size: 12px !important;
}

.default_img {
	width: 30px;
	height: 30px;
	border-radius: 5px;
	background-color: #E0E0E0;
	margin-right: 6px;
}

.big_img {
	width: 80px;
	height: 80px;
	border-radius: 5px;
	background-color: #E0E0E0;
	float: left;
	/*   margin-top: 15px; */
}

img_full {
	height: 100%;
	width: 100%;
	border-radius: 10px;
}

body header.row {
	box-shadow: 0px 12px 28px #B3B3B3;
}

#main_tab {
	opacity: 0;
	transition: opacity .5s linear; *
	height: 100%;
	/*   width : 100%; */
}

#main_tab:hover {
	opacity: 1;
}

.main_tab:hover {
	/* 		height :200px; */
	opacity: 1;
}

.main_tab {
	-webkit-transition: height .7s;
	transition: height .7s;
	height: 30px;
	background-color: #fff;
}

.rgt {
	float: right;
}

.lft {
	float: left;
}

.control-label {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif !important;
	font-size: 10px !important;
	font-weight: 300;
}

.control-label-b {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif !important;
	font-size: 10px !important;
	font-weight: 600;
}

.cat_pic {
	height: 40px;
	width: 40px;
	box-shadow: -4px -1px 5px #B3B3B3;
	margin-top: 10px;
}

td .prof_pic {
	height: 40px;
	width: 40px;
	box-shadow: -4px -1px 5px #B3B3B3;
}

hr {
	margin-top: 23px !important;
	margin-bottom: 16px !important;
}

.btn-panel {
	margin-top: 15px;
}

.sub_cat {
	background-color: rgba(230, 230, 230, 0.49);
	margin: 4px 0px 4px 0px;
}

.nav_bordered {
	border-color: rgba(47, 47, 47, 0.15);
	border-width: 2px;
	cursor: pointer;
}

z-index-overmodal {
	z-index: 1600;
}

.cat_deactive {
	border-right-color: bisque;
}

.nav-dropdown-menu {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s ease 0.3s, opacity 0.3s ease;
	padding-top: 24px;
	color: #000000;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 0 0 5px 5px;
	min-height: 300px;
	/* min-width: 700px; */
	z-index: 2;
	margin-top: -3px;
	right: auto;
	left: -230%;
}

.nav-dropdown-list {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s ease 0.3s, opacity 0.3s ease;
	padding-top: 8px;
	color: #d6223b;
	background-color: rgba(240, 240, 240, 1);
	border-radius: 0 0 5px 5px;
	/* 	min-height: 200px; */
	min-width: 300px;
	z-index: -2;
	margin-top: -2px;
	padding-bottom: 7px;
}

header nav .navbar-nav>li:hover>div.nav-dropdown-list {
	visibility: visible;
	opacity: 1;
	transition-delay: .2s;
}

header nav .navbar-nav>li:hover>div.nav-dropdown-menu {
	visibility: visible;
	opacity: 1;
	transition-delay: .2s;
}

div.demo img.img:hover {
	-webkit-transition-duration: .4s;
	Safari transition-duration: .4s;
	-webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
	cursor: pointer;
}

.shadow {
	box-shadow: 0px 3px 28px #B3B3B3;
}

header nav div.nav-dropdown-menu .cat-title {
	padding: 4px 0 3px 8px;
	margin-bottom: 5px;
	text-align: center;
	background-color: #ddd;
	font-family: nassim !important;
	font-size: 17px !important;
}

header nav div.nav-dropdown-list .cms-title {
	padding: 4px 0 3px 8px;
	margin-bottom: 5px;
	text-align: center;
	background-color: #ddd;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif !important;
	font-size: 13px !important;
}

.menu_manage {
	float: right;
	margin-top: 7px;
	margin-right: 20px;
	position: absolute;
	padding-right: 5px !important;
	margin-bottom: 30px !important;
}

.modal_pic_preview {
	min-height: 150px;
	min-width: 150px;
	border-radius: 5px;
	border: 1px solid #E0E0E0;
	padding: 5px;
	margin-left: 4px;
	margin-bottom: 5px;
	background-color: #FFFFFF;
}

.modal_pic_preview>a img {
	max-width: 140px;
	max-height: 140px;
	border-radius: 10px;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

div.modal_pic_preview {
	-webkit-transition: all .5s ease; /* Safari and Chrome */
	-moz-transition: all .5s ease; /* Firefox */
	-ms-transition: all .5s ease; /* IE 9 */
	-o-transition: all .5s ease; /* Opera */
	transition: all .5s ease;
	z-index: 1;
	margin-top: 9px;
}
/*  div.modal_pic_preview:hover { */
/* 		 -webkit-transition-duration: .9s; */
/* 	Safari transition-duration: .9s; */
/* 		-webkit-box-shadow: inset 3px 3px 9px rgba(0, 0, 0, .075); */
/* 		cursor: pointer; */
/* 	} */
div.modal_pic_preview:hover {
	-webkit-transform: scale(1.1); /* Safari and Chrome */
	-moz-transform: scale(1.1); /* Firefox */
	-ms-transform: scale(1.1); /* IE 9 */
	-o-transform: scale(1.1); /* Opera */
	transform: scale(1.1);
	z-index: 100;
	box-shadow: 0px 3px 6px #B3B3B3;
	margin-top: 9px;
}

#pic-list {
	overflow-y: scroll;
	max-height: 300px;
}

.select_band {
	-webkit-transition: all .5s ease; /* Safari and Chrome */
	-moz-transition: all .5s ease; /* Firefox */
	-ms-transition: all .5s ease; /* IE 9 */
	-o-transition: all .5s ease; /* Opera */
	transition: all .5s ease;
	opacity: 0;
	left: 0;
	right: 0;
	width: 100%;
	background: rgba(137, 137, 137, 0.06);
	bottom: 0;
}

div.modal_pic_preview:hover>.select_band {
	width: 100%;
	height: 30px;
	background: rgba(137, 137, 137, 0.46);
	z-index: 110;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	opacity: 1;
	border-width: 2px;
}

span.select-pic {
	margin-top: 117px;
	-webkit-transition: all .5s ease; /* Safari and Chrome */
	-moz-transition: all .5s ease; /* Firefox */
	-ms-transition: all .5s ease; /* IE 9 */
	-o-transition: all .5s ease; /* Opera */
	transition: all .5s ease;
	color: #FFF !important;
	opacity: 0;
	z-index: 120;
}

span.select-pic.glyphicon-check {
	color: #9FFF66 !important;;
}

div.modal_pic_preview:hover>span.select-pic {
	opacity: 1 !Important;
}

.btn-toolbar.pager {
	margin-top: 10px;
	margin-bottom: 20px;
}

td span[data-name='date'] {
	text-align: right;
	font-family: tahoma !important;
	font-size: 11px !important;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.f_left {
	float: left;
}

.center {
	text-align: center;
}

#dropzone {
	background: #ccccc;
	width: 150px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-weight: bold;
}

#dropzone.in {
	width: 600px;
	height: 200px;
	line-height: 200px;
	font-size: larger;
}

#dropzone.hover {
	background: lawngreen;
}

#dropzone.fade {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	opacity: 1;
}

form .progress {
	height: 32px;
	top: -27px;
	margin-top: -33px;
	margin-bottom: 2px;
	background-color: #ffffff;
	/*     opacity: .8; */
	max-width: 99.4%;
	margin-left: 1px;
}

.program-pic-prew {
	width: 127px;
	height: 72px;
	background-color: #F4F4F4;
	border-radius: 8px;
}

.tag-pic-prew {
	width: 63px;
	height: 63px;
	background-color: #F4F4F4;
	border-radius: 8px;
}

.disabled {
	cursor: not-allowed;
	filter: alpha(opacity = 65);
	opacity: .65;
}

div [data-render='subCats'] .sub_cat:hover {
	-webkit-transition-duration: .4s;
	Safari transition-duaration: .4s;
	background-color: rgb(220, 220, 220);
}

div [data-render='subCats'] .subsub_cat:hover {
	-webkit-transition-duration: .4s;
	Safari transition-duaration: .4s;
	background-color: rgba(200, 200, 200, 0.49);
}

div [data-render='subCats'] .subsub_cat {
	margin-bottom: 5px;
}

.opacity-true {
	display: block !important;
	transition: display .5s linear; *
	height: 1% !Important;
}

.opacity-false {
	display: none !important;
	transition: display .5s linear; *
	height: 1% !important;
}

.author-sel {
	font-family: nassim !important;
	font-size: 14px !important;
}

.select2-results {
	font-family: nazanin !important;
	font-size: 16px !important;
}

.upload-pdf {
	-webkit-transition-duration: .4s;
	Safari transition-duration: .4s;
	transition-duration: .4s;
	position: absolute;
	display: none;
	width: 45px;
	background-color: #E4E4E4;
	z-index: 999;
	height: 40px;
	bottom: 2px !important;
	border: 4px solid #B3B3B3;
	border-radius: 3px;
	/*     cursor: pointer; */
	font-size: 20px;
	text-align: center;
	tep: 0;
	top: inherit;
	box-shadow: -3px -2px 8px #B3B3B3;
	display: block;
	color: #B3B3B3;
	line-height: 30px;
	border-bottom-right-radius: 9px;
	right: 2px;
	opacity: 0.2;
	cursor: not-allowed;
}

.upload-pdf:hover {
	-webkit-transition-duration: .4s;
	Safari transition-duration: .4s;
	transition-duration: .4s;
	background-color: #c7c7c7;
	box-shadow: -4px -2px 8px #B3B3B3;
	color: #555555;
	line-height: 30px;
}

canvas {
	width: 100% !important;
	height: 100% !important;
	margin: 0px;
}

tr.downloders {
	-webkit-transition-duration: .6s;
	Safari transition-duration: .6s;
	transition-duration: .6s;
	padding: 4px 0 7px 8px;
	margin-bottom: 5px;
	text-align: right;
	margin-right: 10px;
	background-color: #F8F8F8;
	font-family: nassim !important;
	font-size: 13px !important;
	color: rgb(123, 120, 117) !important;
	cursor: pointer;
	padding-right: 10px;
}

tr.downloders:hover {
	-webkit-transition-duration: .6s;
	Safari transition-duration: .6s;
	transition-duration: .6s;
	background-color: #CACACA;
}

.text-nowrap {
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.top1 {
	margin-top: 5px;
}

.top2 {
	margin-top: 10px;
}

.top3 {
	margin-top: 15px;
}

.card {
	border: #d0d0d0;
	border-style: solid;
	border-radius: 5px;
	padding: 14px;
	border-width: thin;
	/* 	margin-bottom: 15px; */
	padding: 10px;
	margin-top: 20px;
	cursor: pointer;
}

.cat_active {
	border-right-color: #72e202;
}

.cat_deactive {
	border-right-color: #d00c27;
}

.white {
	background-color: #ffffff;
}

.btn-custom {
	background-color: #f8f8f8 !important;
	/* 	border-color: #d2d1d0 !important; */
}

.drop-lang {
	float: right;
	margin-top: 15px;
	/* 	z-index: 90; */
	position: relative;
}

.drop-menu {
	padding: 5px;
	min-width: 130px;
	text-align: center;
	cursor: pointer;
}

.drop-list {
	border-radius: 5px;
	min-width: 60px;
	background-color: whitesmoke;
}

.drop-menu:hover {
	webkit-transition-duration: .4s;
	Safari transition-duration: .4s;
	transition-duration: .4s;
	background-color: #f8f8f8;
}

.drop-span {
	font-weight: 600;
	font-size: 14px;
	font-family: monospace;
}

.navbar-expand-md .navbar-toggler {
	display: block !important;
}

.banner-pre {
	height: 45px;
	border-radius: 5px;
}

.header-text {
	font-family: 'source_sans_proregular', sans-serif;
	color: #333 !important;
	font-size: 14px;
	padding: 0;
	text-transform: uppercase;
	text-decoration: none;
	box-sizing: border-box;
	font-weight: 300 !important;
}

.cat-text {
	font-weight: 400;
	text-align: start;
	font-family: 'source_sans_proregular', sans-serif;
	color: #333;
	font-size: 16px;
	padding: 0;
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	box-sizing: border-box;
	padding-bottom: 7px;
}

.scat-text {
	font-weight: 400;
	text-align: start;
	font-family: 'source_sans_proregular', sans-serif;
	color: #333;
	font-size: 14px;
	padding: 0;
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	box-sizing: border-box;
	padding-bottom: 4px;
}

.sscat-text {
	font-weight: 200;
	text-align: start;
	font-family: 'source_sans_proregular', sans-serif;
	color: #333;
	font-size: 12px;
	padding: 0;
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	box-sizing: border-box;
	padding-bottom: 4px;
}

.no-scroll {
	height: 100%;
	overflow: hidden;
}

html {
	overflow-x: hidden;
}

/* html,body,div.main{ */
/* 	height: 100%; */
/* } */
.base {
	min-height: 410px;
}

.border-r {
	border-right-color: #e8e8e852;
	border-right-style: solid;
}

.leftCards {
	border-bottom-style: inset;
}

.product_menu {
	opacity: 0;
	min-height: 60px;
	background-color: #e6e6e68c;
	position: absolute;
	bottom: 30px;
	right: 0;
	left: 0;
	top: 50px;
	margin-left: 45px;
	margin-right: 45px;
	cursor: pointer;
	cursor: pointer;
	-webkit-transition-duration: .4s;
	Safari transition-duration: .4s;
	transition-duration: .4s;
	-webkit-transition-duration: .4s;
	min-height: 60px;
}

.card:hover .product_menu {
	opacity: 1;
	-webkit-transition-duration: .4s;
	Safari transition-duration: .4s;
	transition-duration: .4s;
	box-shadow: 0px 1px 2px #B3B3B3;
}

.card:hover .pro {
	-webkit-transition-duration: .6s;
	Safari transition-duration: .6s;
	transition-duration: .6s;
	filter: blur(2px);
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
}

.card img.pro {
	-webkit-transition-duration: .6s;
	Safari transition-duration: .6s;
	transition-duration: .6s;
	filter: blur(0px);
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-o-filter: blur(0px);
	-ms-filter: blur(0px);
}

.product_dsc {
	padding: 10px;
}

.menu_titr {
	padding: 10px;
	font-weight: 600;
	text-align: center;
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	box-sizing: border-box;
	font-family: 'source_sans_proregular', sans-serif;
	color: #333;
	font-size: 14px;
}

.tag {
	display: inline-flex;
	margin-bottom: 5px;
}

.right-1 {
	margin-right: 5px;
}

.right-2 {
	margin-right: 10px;
}

.right-3 {
	margin-right: 15px;
}

/* .navbar-nav>li>a { */
/*     padding-top: 0px !important; */
/*     padding-bottom: 0px !important; */
/* } */

/* header nav .navbar-nav>li:hover>a.dropdown-toggle */
div.tag:hover>span.glyphicon {
	-webkit-transition-duration: .4s;
	Safari transition-duration: .4s;
	transition-duration: .4s;
	color: #bd9825;
	cursor: pointer;
}

div.tag {
	cursor: pointer;
}

.titr {
	font-weight: 200;
	text-align: center;
	font-family: 'source_sans_proregular', sans-serif;
	color: #333;
	font-size: 30px;
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	box-sizing: border-box;
	padding-bottom: 4px;
	margin-top: 15px;
}

.no-rap {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
}

.dsc {
	font-weight: 200;
	text-align: start;
	color: #333;
	font-size: 16px;
	padding-bottom: 7px;
}

li a {
	text-align: center;
}

.zoomImg {
	cursor: zoom-in;
}

.modal.fade {
	/*   z-index: 10000000 !important; */
	
}

div.card span {
	display: block !important;
}

li#sign {
	cursor: pointer;
}

a.header-text {
	padding: 12px;
	cursor: pointer;
}

.padding10 {
	padding: 10px;
}

button {
	font-family: monospace !important;
}

html, body {
	height: 100%;
}

.full-height {
	height: 100%;
}

.labeled {
	background: #0202021c;
	color: #333333;
	padding: 3px;
	border-top-right-radius: 4px;
	font-family: monospace;
	font-size: 14px;
}
.chase-labeled {
	background: #0202021c;
	color: #333333;
	padding: 3px;
	border-top-right-radius: 4px;
	font-family: monospace;
	font-size: 11px;
	white-space: nowrap;
}
.labeled_noback {
	color: #333333;
	padding: 3px;
	font-family: monospace;
	font-size: 14px;
}

.labeled_table {
	background: #7979791c;
	color: #464646;
	padding: -2px;
	border-top-right-radius: 4px;
	font-family: monospace;
}

.labeled_nowrap {
	background: #0202021c;
	white-space: nowrap;
	color: #333333;
	padding: 3px;
	border-top-right-radius: 4px;
	font-family: monospace;
	font-size: 14px!important;
}
.labeled_nowrap_red {
	background: #ff000024;
    white-space: nowrap;
    color: #333333;
    padding: 3px;
    border-top-right-radius: 4px;
    font-family: monospace;
    font-size: 14px!important;
}

.taksit {
	display: inherit !important;
}

.desc {
	white-space: pre-wrap;
	font-family: monospace;
	font-size: 11px;
}

[data-id="map"] {
	width: 100%;
	height: 50%;
	min-height: 50%;
	background: red;
	display: block;
}

[data-id="map2"] {
	width: 100%;
	height: 50%;
	min-height: 50%;
	background: blue;
	display: block;
}

.fill {
	min-height: 100%;
	height: 100%;
}

.disable {
	pointer-events: none;
}

.enable {
	pointer-events: all;
}

/* .modal-body{ */
/*     height: 250px; */
/*     overflow-y: auto; */
/* } */
@media ( min-height : 600px) {
	.modal-body.long {
		height: 490px;
		overflow-y: auto;
	}
}

@media ( min-height : 700px) {
	.modal-body.long {
		height: 490px;
		overflow-y: auto;
	}
}

@media ( min-height : 800px) {
	.modal-body.long {
		height: 600px;
		overflow-y: auto;
	}
}

.today-cal {
	background-color: #6d6d00 !important;
	border-color: #6d6d00 !important;
}

.not-paid {
	background-color: #e80505 !important;
	border-color: #e80505 !important;
}

.pending { //vadesi gelmemis background-color:#4494da!important;
	border-color: #4494da !important;
}

.paid-partial {
	background-color: #44daa2 !important;
	border-color: #44daa2 !important;
}

.paid {
	background-color: #26c712 !important;
	border-color: #26c712 !important;
}

.separated {
	border-collapse: separate;
	border-spacing: 5px;
	table-layout: fixed;
}

.bordered {
	text-align: center;
	border: 1px solid #ddd !important;
}

.modal-xl {
	width: 98%;
	height: 92%;
	padding: 0;
}

.modal-content-xl {
	height: 110%;
}

 
.plan1 {
	color: white;
	font-size: 11px;
	font-family: monospace;
}
@media print { 
	
	.tips {
	background-color: #3e669a!important;
	-webkit-print-color-adjust: exact!important;
}

.tdclass{
	background-color: #3e669a!important;
	-webkit-print-color-adjust: exact!important;
}
.reserveclass{
	-webkit-print-color-adjust: exact!important;
}


}
 
 
.tips {
	background-color: #3e669a!important;
	-webkit-print-color-adjust: exact!important;
}

.section {
	cursor: pointer;
}

.icon_pic {
	height: 60px;
	width: 50px;
}

body img {
	width: 100%;
}

.compress {
	display: inline-block;
	width: 180px;
	white-space: nowrap;
	overflow: hidden !important;
	text-overflow: ellipsis;
}

.hidden {
	visibility: hidden;
	opacity: 0;
}

.sticky {
	font-size: 12px;
	font-family: calibri;
	font-weight: 700;
	padding-left: 4px;
	font-style: normal;
}

.desc {
	font-family: monospace;
	border: none;
	padding: 1px !important;
	font-size: 10px !important;
	text-align: left;
	border-top: none !important;
	color: cornflowerblue;
}

.notifyText {
	padding: 9px !important;
	font-size: 12px !important;
	text-align: left;
	border-top: none !important;
}

.fc-view-harness {
	z-index: 0;
}

.empty {
	font-size: 31px;
	font-family: monospace;
}

body.modal-open {
	overflow: visible;
	padding-right: 0px !important;
	/*     position: absolute; */
}

.senetDiv {
	background-image: url("/resources/images/senet.jpg") !important;
	background-color: #ffffff !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	height: 380px !important;
}

.senetTx {
	color: #507183;
}

.justify {
	text-align: justify;
	text-justify: inter-word;
}

@media
print
{
div#senet-list {
	height: 148.5mm;
	margin: 0px;
	
}
}
@media print {
		body
	{
		background-image
		:
		none;
	}
	.justify {
		text-align: justify;
		text-justify: inter-word;
	}
	.calibri {
		font-family: calibri !important;
	}
}

.top45 {
	margin-top: 30px;
}

.table{
	margin-bottom: 5px!important;
}
.vertical{
	writing-mode: vertical-rl;
}

.no-padding{
	padding: 0px!important;
}
#primary_color{
    border-radius: 100%;
    height: 37px;
    width: 39px;
    border: none;
    outline: none;
    -webkit-appearance: none;
}

#primary_color::-webkit-color-swatch-wrapper {
    padding: 0;	
}
#primary_color::-webkit-color-swatch {
    border: none;
    border-radius: 100%;
}

iframe > img{
    width: 100%;

}

.count{
	background: #e63232;
    color: white;
    font-family: calibri;
    font-style: italic;
    padding: 3px;
    border-top-left-radius: 14px;
    border-bottom-right-radius: 14px;
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
} 

#MenuSec{
	-webkit-transition-duration: .4s;
	Safari transition-duration: .4s;
	transition-duration: .4s;
	box-shadow: 0px  2px  8px #B3B3B3;
}
 
#Buttons{
	-webkit-transition-duration: .4s;
	Safari transition-duration: .4s;
	transition-duration: .4s;
}

.paid-tablo{
	height: 225px;
    margin-bottom: 25px;
    background: #ececec;
  
}
.tablo-name{
	font-size: 18px;
    font-weight: 900;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.section-name{
	FONT-SIZE: 30PX;
    FONT-WEIGHT: 500;
}
.tutar-name{
	font-size: 16px;
    font-weight: 400;
}
.text-line{
	text-decoration: line-through;
}

.ui-datepicker-calendar {
    display: none;
    }
}