<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<meta th:replace="fragments/admin/header::common-head" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
</head>
<body>

	<div class="main container   col-xs-11 center-block">

		<div class="row navbar-default">
			<header th:replace="/fragments/header::top"></header>
			<header th:replace="/fragments/header::header"> </header>

			<div id="main" class="up-2 base col-xs-12">




				<th:block th:switch="${language}" class="col-xs-12">
					<div th:case="'tr'">
						<a th:href="@{/tr/cat/(id=${cat.id})}"><span
							class=" header-text" th:if="${cat}"
							th:text="' '+${cat.title} + ''"></span></a> <a th:if="${subCat}"
							th:href="@{/tr/subCat/(id=${subCat.id})}"> <span
							class=" header-text" th:text="'/ '+${subCat.title} + ''"></span></a>


						<span th:if="${subSubCat}" class=" header-text"
							th:text="'/ '+${subSubCat.title} + ''"></span>
					</div>
					<div th:case="'en'">
						<a th:href="@{/en/cat/(id=${cat.id})}"><span
							class=" header-text" th:if="${cat}"
							th:text="' '+${cat.title_en} + ''"></span></a> <a th:if="${subCat}"
							th:href="@{/en/subCat/(id=${subCat.id})}"><span
							class=" header-text" th:text="'/ '+${subCat.title_en} + ''"></span></a>
						<span th:if="${subSubCat}" class=" header-text"
							th:text="'/ '+${subSubCat.title_en} + ''"></span>
					</div>
					<div th:case="'ru'">
						<a th:href="@{/ru/cat/(id=${cat.id})}"><span
							class=" header-text" th:if="${cat}"
							th:text="' '+${cat.title_ru} + ''"></span></a> <a th:if="${subCat}"
							th:href="@{/ru/subCat/(id=${subCat.id})}"> <span
							class=" header-text" th:if="${subCat}"
							th:text="'/ '+${subCat.title_ru} + ''"></span></a> <span
							th:if="${subSubCat}" class=" header-text"
							th:text="'/ '+${subSubCat.title_ru} + ''"></span>
					</div>

					<div th:case="'ar'">
						<a th:href="@{/ar/cat/(id=${cat.id})}"><span
							class=" header-text" th:if="${cat}"
							th:text="' '+${cat.title_ar} + ''"></span></a> <a th:if="${subCat}"
							th:href="@{/ar/subCat/(id=${subCat.id})}"><span
							class=" header-text" th:if="${subCat}"
							th:text="'/ '+${subCat.title_ar} + ''"></span></a> <span
							th:if="${subSubCat}" class=" header-text"
							th:text="'/ '+${subSubCat.title_ar} + ''"></span>



					</div>
				</th:block>


				<div class="  base up-2 border-r col-xs-3">

					<div th:if="${subs}" class=" leftCards top3">


						<div th:each="scat : ${subs} " style="margin-bottom: 15px;"
							th:if="${scat.id}" th:id="${scat.id}" class="top1">
							<th:block th:switch="${language}" class="col-xs-12">

								<div th:case="'tr'">
									<a th:href="@{/tr/subCat/(id=${scat.id})}"><span
										class=" scat-text" th:text="' '+${scat.title} + ''"></span></a>

									<div class="sscat">
										<th:block th:each="sscat : ${sscats}"
											th:if="${sscat.id} and ${sscat.subcategory.id}==${scat.id}"
											th:id="${sscat.id}">
											<a th:href="@{/tr/subsubCat/(id=${sscat.id})}"><span
												class="sscat-text" th:text="${sscat.title}"></span></a>
										</th:block>

									</div>
								</div>
								<div th:case="'en'">
									<a th:href="@{/en/subCat/(id=${scat.id})}"><span
										class=" scat-text" th:text="' '+${scat.title_en} + ''"></span></a>

									<div class="sscat">
										<th:block th:each="sscat : ${sscats}"
											th:if="${sscat.id} and ${sscat.subcategory.id}==${scat.id}"
											th:id="${sscat.id}">
											<a th:href="@{/en/subsubCat/(id=${sscat.id})}"><span
												class="sscat-text" th:text="${sscat.title_en}"></span></a>
										</th:block>

									</div>

								</div>
								<div th:case="'ru'">
									<a th:href="@{/ru/subCat/(id=${scat.id})}"><span
										class=" scat-text" th:text="' '+${scat.title_ru} + ''"></span></a>

									<div class="sscat">
										<th:block th:each="sscat : ${sscats}"
											th:if="${sscat.id} and ${sscat.subcategory.id}==${scat.id}"
											th:id="${sscat.id}">
											<a th:href="@{/ru/subsubCat/(id=${sscat.id})}"><span
												class="sscat-text" th:text="${sscat.title_ru}"></span></a>
										</th:block>

									</div>
								</div>

								<div th:case="'ar'">
									<a th:href="@{/ar/subCat/(id=${scat.id})}"><span
										class=" scat-text" th:text="' '+${scat.title_ar} + ''"></span></a>

									<div class="sscat">
										<th:block th:each="sscat : ${sscats}"
											th:if="${sscat.id} and ${sscat.subcategory.id}==${scat.id}"
											th:id="${sscat.id}">
											<a th:href="@{/ar/subsubCat/(id=${sscat.id})}"><span
												class="sscat-text" th:text="${sscat.title_ar}"></span></a>
										</th:block>

									</div>
								</div>


							</th:block>
						</div>




					</div>

					<div th:unless="${subs}" class=" leftCards top3">


						<div th:each="sscat : ${ssubs} " th:if="${sscat.id}"
							th:id="${sscat.id}" class="">
							<th:block th:switch="${language}" class="col-xs-12">

								<div th:case="'tr'">
									<div class="sscat">
										<th:block th:if="${sscat.id} ">

											<a th:href="@{/tr/subsubCat/(id=${sscat.id})}"><span
												class="sscat-text" th:text="${sscat.title}"></span></a>
										</th:block>

									</div>
								</div>
								<div th:case="'en'">
									<div class="sscat">
										<th:block th:if="${sscat.id} ">

											<a th:href="@{/en/subsubCat/(id=${sscat.id})}"><span
												class="sscat-text" th:text="${sscat.title_en}"></span></a>
										</th:block>
									</div>

								</div>
								<div th:case="'ru'">

									<div class="sscat">
										<th:block th:if="${sscat.id} ">

											<a th:href="@{/ru/subsubCat/(id=${sscat.id})}"><span
												class="sscat-text" th:text="${sscat.title_ru}"></span></a>
										</th:block>
									</div>
								</div>

								<div th:case="'ar'">

									<div class="sscat">
										<th:block th:if="${sscat.id} ">

											<a th:href="@{/ar/subsubCat/(id=${sscat.id})}"><span
												class="sscat-text" th:text="${sscat.title_ar}"></span></a>
										</th:block>
									</div>
								</div>


							</th:block>
						</div>




					</div>

					<div class=" leftCards top3">
						<div th:each="tag : ${tags}">
							<th:block th:switch="${language}" class="col-xs-12">

								<div class="tag" th:id="${tag.id}" th:case="'tr'">
									<span class="right-1 glyphicon selected glyphicon-unchecked">
									</span> <span class=" sscat-text" th:text="' '+${tag.title} + ''"></span>
								</div>
								<div class="tag" th:id="${tag.id}" th:case="'en'">
									<span class="right-1 glyphicon selected glyphicon-unchecked">
									</span> <span class=" sscat-text" th:text="' '+${tag.title_en} + ''"></span>
								</div>
								<div class="tag" th:id="${tag.id}" th:case="'ru'">
									<span class="right-1 glyphicon selected glyphicon-unchecked">
									</span> <span class=" sscat-text" th:text="' '+${tag.title_ru} + ''"></span>
								</div>

								<div class="tag" th:id="${tag.id}" th:case="'ar'">
									<span class="right-1 glyphicon selected glyphicon-unchecked">
									</span> <span class=" sscat-text" th:text="' '+${tag.title_ar} + ''"></span>
								</div>


							</th:block>
						</div>
					</div>

				</div>

				<div id="Table">
					<div th:fragment="products_list" class="col-xs-9 base up-1  ">



						<div th:each="pdc : ${products}"
							class="containers col-sm-6 col-xs-12 ">

 
							<div class="card " th:onclick="|window.location.href='/${language}/product?id=${pdc.id}'| ">
								   <img class="pro " alt=""
									th:src="@{${'/images/pics/'+pdc.pic+ '.jpg'}}"
									style="width: 100%" /> 

								<div class="product_menu">


									<th:block th:switch="${language}" class="col-xs-12">

										<div th:case="'tr'">

											<div class="">
												<span class="menu_titr " th:text="${pdc.name}"></span>
											</div>
											<div class="product_dsc hidden-xs">
												<span class="sscat-text no-rap " th:text="${pdc.dsc_tr}"></span>
											</div>

										</div>
										<div th:case="'en'">
											<div class="">
												<span class="menu_titr " th:text="${pdc.name_en}"></span>
											</div>
											<div class="product_dsc hidden-xs">
												<span class="sscat-text no-rap " th:text="${pdc.dsc_en}"></span>
											</div>
										</div>
										<div th:case="'ru'">
											<div class="">
												<span class="menu_titr " th:text="${pdc.name_ru}"></span>
											</div>
											<div class="product_dsc hidden-xs">
												<span class="sscat-text no-rap " th:text="${pdc.dsc_ru}"></span>
											</div>
										</div>

										<div th:case="'ar'">
											<div class="">
												<span class="menu_titr " th:text="${pdc.name_ar}"></span>
											</div>
											<div class="product_dsc hidden-xs">
												<span class="sscat-text no-rap " th:text="${pdc.dsc_ar}"></span>
											</div>
										</div>


									</th:block>
								</div>



							</div>


						</div>




					</div>
				</div>

			</div>


		</div>
	</div>

	<script th:replace="fragments/admin/header::common-script-local"></script>
	<script th:inline="javascript">
		var lan = /*[[${language}]]*/'TR';
		var ids = /*[[${id}]]*/0;
		var type = /*[[${type}]]*/'';
	</script>
	<script src="/resources/js/popup.js"></script>


</body>
</html>
