<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="alert (type, message)" class="alert alert-dismissable text-right" th:classappend="'alert-' + ${type}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span class="nassim19b " th:text="${message}">Test</span>
    </div>
</body>
</html>

