<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<header class="col-xs-12" th:fragment="footer">
		<div class="main container  col-xs-11 navbar navbar-fixed-bottom" style="background: #3f4041;">

			<div class="col-xs-12" style="padding-top: 6px">
				<ul class="list-inline ">
					<li th:if="${session.fname}">
						<div class="form-group">
							<img id="logout" src="/resources/images/person.png"
								class="cursor s30  center-block" />
							<div>
								<span class="bottom_txt" th:text="${session.fname}"></span>

							</div>

						</div>

					</li>
					<li th:unless="${session.fname}">
						<div class="form-group">
							<img id="sign" src="/resources/images/person.png"
								class="cursor s30  center-block" />
							<div>
								<span class="bottom_txt"> Giriş Yap</span>
							</div>

						</div>

					</li>
					 
					<li th:if="${session.userAdmin}" id="adminpanel">
						<div class="form-group">
							<img id="users" src="/resources/images/users.png"
								class="cursor s30  center-block" />
							<div>
								<span class="bottom_txt"> Adminpanel</span>
							</div>

						</div>

					</li>

					<li th:unless="${session.userId}"  ><a id="modal"
						href="#login-modal" data-target="#login-modal" data-toggle="modal">enter</a>
					</li>
					<li th:unless="${session.userId}"><a href="/signup">new</a></li>
					<li th:if="${session.userId}"><a id="signout" href="/logout">exit
					</a></li>

					 




				</ul>

			</div>
		</div>
	</header>
</body>
</html>

