<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<header class="col-xs-12" th:fragment="Menu">
		<div class="parent col-xs-12">
			<div id="MenuSec" class="MenuSec2 menu navbar-default left col-xs-12 "
				style="z-index: 1; position: fixed; top: -50px; opacity: 0;right: 56px;">


				<nav class="navbar-default navbar-static-top col-xs-12 center-block"
					role="navigation">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class=" row">
						<button type="button" class="navbar-toggle collapsed "
							data-toggle="collapse" data-target="#fixed-header">
							<span class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>


					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->

					<div
						class="collapse navbar-collapse navbar-default col-xs-12 res-right-1"
						id="fixed-header" dir="ltr">
						<ul class="nav navbar-nav " style="padding-right: 0px;">

							<li id="home"
								class="glyphicon glyphicon-home  top3 right-2 dropdown-toggle hidden-xs"><a
								href="/" style="margin: -23px -11px -22px -7px; "></a></li>

							<!-- th:if="${session.userAdmin}" -->
							<li id="sign" th:unless="${session.fname} "><a
								class="dropdown-toggle "><span class="header-text">GİRİŞ
										YAP</span> </a></li>


							<li th:if="${session.userAdmin}" class="hidden-xs "><a
								th:if="${session.notifies}" href="#"
								style="z-index:100; 15px; margin-top: -3px; color: #CD2027 !important;"
								class="dropdown-toggle glyphicon glyphicon-bell"> </a> <a
								th:unless="${session.notifies}" href="#"
								style="font-size: 15px; margin-top: -3px;"
								class="dropdown-toggle glyphicon glyphicon-bell"> </a>

								<div class="nav-dropdown-list hidden-xs box-shadow  "
									role="menu">
									<div th:each="ins : ${session.notifies} " class="col-xs-12">

										<th:block th:switch="${ins.type}">

											<div th:case="0">
												<a class=" notifyText btn-block"
													th:text="' '+${ins.contract.customer[0].fname} + ' 
											İsimli Müşteriye Hatırlatma Mesajı Gönderilmemiş'"
													th:href="@{/installment_manage/?listId={listId}(listId=${ins.id})}"></a>
											</div>
											<div th:case="1">
												<a class=" notifyText btn-block"
													th:text="' '+${ins.contract.customer[0].fname} + ' 
											İsimli Müşteriye Teşekkür Mesajı Gönderilmemiş'"
													th:href="@{/installment_manage/?listId={listId}(listId=${ins.id})}"></a>

											</div>
											<div th:case="2">
												<a class=" notifyText btn-block"
													th:text="' '+${ins.contract.customer[0].fname} + ' 
											İsimli Müşteriye Uyarı Mesajı Gönderilmemiş'"
													th:href="@{/installment_manage/?listId={listId}(listId=${ins.id})}"></a>
											</div>

										</th:block>


									</div>

								</div></li>
<!-- th:if="${session.userWatcher != true}" -->
							<li style="z-index: 90"
								th:if="${session.userId != null  and session.userAdmin != true and session.userWatcher != true}"><a
								href="/calender" class="dropdown-toggle "><span
									class="header-text">AJANDAM</span> </a></li>
							<li th:if="${session.userAdmin == true  or session.userWatcher == true and session.fname != null}"><a href="#"
							class="dropdown-toggle header-text hidden-xs">AJANDA <span
								class="caret"></span>
						</a> <a data-toggle="collapse" href="#collapseCustomer"
							class="dropdown-toggle header-text visible-xs">AJANDA <span
								class="caret"></span>
						</a>



							<div class="collapse " id="collapseCustomer">
								<div class=" ">

									<a class=" header-text btn-block" href="/calender">TAKSİT AJANDASI</a> 
									
									<a class=" header-text btn-block" href="/not_paid">ÖDENMEYENLER TABLOSU</a> 

								</div>
							</div>


							<div class="nav-dropdown-list hidden-xs box-shadow  " role="menu">
								<div class="col-xs-12  " style="">
									<a class=" header-text btn-block" href="/calender">TAKSİT AJANDASI</a>

								</div>
								<div th:if="${session.userAdmin == true  or session.userWatcher == true and session.fname != null}" class="col-xs-12  " style="">
									<a class=" header-text btn-block"
										href="/not_paid">ÖDENMEYENLER TABLOSU</a>

								</div>
								 


							</div></li>


							<!-- 								<li -->
							<!-- 									th:if="${session.fname != null  and session.userAdmin != true}"><a -->
							<!-- 									th:href="'/'+@{${language}+'/contact'}" -->
							<!-- 									class="dropdown-toggle "><span class="header-text">MÜŞTERİLERİM</span> -->
							<!-- 		glyphicon glyphicon-bell						</a></li> -->

							<li style="z-index: 80"
							th:if="${session.userId}"><a href="#"
								class="dropdown-toggle header-text hidden-xs">KİŞİLER YÖN. <span
									class="caret"></span>
							</a> <a data-toggle="collapse" href="#collapseCustomer"
								class="dropdown-toggle header-text visible-xs">KİŞİLER YÖN.
									<span class="caret"></span>
							</a>



								<div class="collapse " id="collapseCustomer">
									<div class=" ">

										<a class=" header-text btn-block" href="/customer_manage">MÜŞTERİLER
											YÖN.</a> <a th:if="${session.userAdmin}"
											class=" header-text btn-block" href="/adminpanel/user_manage">PERSONEL
											YÖN.</a> <a th:if="${session.userAdmin}"
											class=" header-text btn-block"
											href="/adminpanel/agent_manage">ACENTE YÖN.</a>

									</div>
								</div>


								<div class="nav-dropdown-list hidden-xs box-shadow  "
									role="menu">
									<div class="col-xs-12  " style="">
										<a class=" header-text btn-block" href="/customer_manage">MÜŞTERİLER
											YÖN.</a>

									</div>
									<div th:if="${session.userAdmin}" class="col-xs-12  " style="">
										<a class=" header-text btn-block"
											href="/adminpanel/user_manage">PERSONEL YÖN.</a>

									</div>
									<div th:if="${session.userAdmin}" class="col-xs-12  " style="">
										<a class=" header-text btn-block"
											href="/adminpanel/agent_manage">ACENTE YÖN.</a>

									</div>


								</div></li>





							<li style="z-index: 70" th:if="${session.userAdmin}"><a href="#"
								class="dropdown-toggle header-text hidden-xs">PORTFÖY YÖN. <span
									class="caret"></span>
							</a> <a data-toggle="collapse" href="#collapsePortfoy"
								class="dropdown-toggle header-text visible-xs">PORTFÖY YÖN.
									<span class="caret"></span>
							</a>


								<div class="collapse " id="collapsePortfoy">
									<div class=" ">

										<a class=" header-text btn-block" href="/portfoy_manage">PORTFÖYLER</a>
										<a class=" header-text btn-block"
											href="/adminpanel/section_manage">BAĞIMSIZ BÖLÜMLER</a> <a
											class=" header-text btn-block"
											href="/adminpanel/floor_manage">KAT YÖN.</a> <a
											class=" header-text btn-block" href="/adminpanel/blok_manage">BLOK
											YÖN.</a> <a class=" header-text btn-block"
											href="/adminpanel/project_manage">PROJELER</a> <a
											class=" header-text btn-block" href="/adminpanel/tag_manage">ETİKET
											YÖN.</a>

									</div>
								</div>

								<div class="nav-dropdown-list hidden-xs box-shadow  "
									role="menu">

									<div class="col-xs-12  " style="">
										<a class=" header-text btn-block" href="/portfoy_manage">PORTFÖYLER</a>

									</div>
									<div class="col-xs-12  " style="">
										<a class=" header-text btn-block"
											href="/adminpanel/section_manage">BAĞIMSIZ BÖLÜMLER</a>

									</div>
									<div class="col-xs-12  " style="">
										<a class=" header-text btn-block"
											href="/adminpanel/floor_manage">KAT YÖN.</a>

									</div>
									<div class="col-xs-12  " style="">
										<a class=" header-text btn-block"
											href="/adminpanel/blok_manage">BLOK YÖN.</a>

									</div>
									<div class="col-xs-12  " style="">
										<a class=" header-text btn-block"
											href="/adminpanel/project_manage">PROJELER</a>

									</div>

									<div class="col-xs-12  " style="">
										<a class=" header-text btn-block"
											href="/adminpanel/tag_manage">ETİKET YÖN.</a>

									</div>
								</div></li>

							<li style="z-index: 60" th:if="${session.userId == null  and session.fname != null}"><a
								href="/" class="dropdown-toggle "><span class="header-text"
									style="color: #864155 !important;">ONAY BEKLENİYOR</span> </a></li>

							<li style="z-index: 50" th:if="${session.userId}"><a href="#"
								class="dropdown-toggle header-text hidden-xs">SÖZLEŞME YÖN.
									<span class="caret"></span>
							</a> <a data-toggle="collapse" href="#collapseContract"
								class="dropdown-toggle header-text visible-xs">SÖZLEŞME YÖN.
									<span class="caret"></span>
							</a>

								<div class="collapse " id="collapseContract">
									<div class=" ">

										<a th:if="${session.userId}" class=" header-text btn-block"
											href="/contracts">SÖZLEŞMELER</a> <a
											th:if="${session.userAdmin}" class=" header-text btn-block"
											href="/installment_manage">TAKSİT YÖN.</a> <a
											th:if="${session.userId != null and session.userWatcher != true}"
											class="new_customer header-text btn-block"
											id=""> SÖZLEŞME İŞLEMLERİ</a> <a
											th:if="${session.userId != null and session.userWatcher != true}" class=" header-text btn-block"
											id="" href="/cover_manage"> KAPAK, SENET
											vs.</a>

									</div>
								</div>
								<div class="nav-dropdown-list hidden-xs box-shadow  "
									role="menu">
									<div th:if="${session.userId}" class="col-xs-12  " style="">
										<a class=" header-text btn-block" href="/contracts">SÖZLEŞMELER</a>

									</div>
									<div th:if="${session.userAdmin}" class="col-xs-12  " style="">
										<a class=" header-text btn-block" href="/installment_manage">TAKSİT
											YÖN.</a>

									</div>



									<div th:if="${session.userId != null and session.userWatcher != true}" class="col-xs-12  " style="">
										<a class="new_customer header-text btn-block"
											id=""> SÖZLEŞME İŞLEMLERİ</a>

									</div>

									<div th:if="${session.userId != null and session.userWatcher != true}" class="col-xs-12  " style="">
										<a class=" header-text btn-block" id=""
											href="/cover_manage"> KAPAK, SENET vs.</a>

									</div>

								</div></li>

							<li style="z-index: 40" th:if="${session.userAdmin == true or session.userWatcher == true}"><a href="#"
								class="dropdown-toggle header-text hidden-xs">MESAJ YÖN. <span
									class="caret"></span>
							</a> <a data-toggle="collapse" href="#collapseMessage"
								class="dropdown-toggle header-text visible-xs">MESAJ YÖN. <span
									class="caret"></span>
							</a>

								<div class="collapse " id="collapseMessage">
									<div class=" ">
										<a class=" header-text btn-block" href="/outbox">GİDEN
											KUTUSU</a>


									</div>
								</div>

								<div class="nav-dropdown-list hidden-xs box-shadow  "
									role="menu">
									<div class="col-xs-12  " style="">
										<a class=" header-text btn-block" href="/outbox">GİDEN
											KUTUSU</a>

									</div>
								</div></li>
							<li style="z-index: 30" th:if="${session.userId}"><a href="#"
								class="dropdown-toggle header-text hidden-xs">BELGE YÖN. <span
									class="caret"></span>
							</a> <a data-toggle="collapse" href="#collapseDoc"
								class="dropdown-toggle header-text visible-xs">BELGE YÖN. <span
									class="caret"></span>
							</a>

								<div class="collapse " id="collapseDoc">
									<div class=" ">

										<a th:if="${session.userId}" class=" header-text btn-block"
											href="/docs">BELGELER</a> <a th:if="${session.userAdmin}"
											class=" header-text btn-block" href="/adminpanel/doc_type">BELGE
											TİPİ YÖN. </a> <a th:if="${session.userAdmin}"
											class=" header-text btn-block" href="/adminpanel/log">SİSTEM
											LOG </a>

									</div>
								</div>


								<div class="nav-dropdown-list hidden-xs box-shadow  "
									role="menu">
									<div class="col-xs-12  " style="">
										<a class=" header-text btn-block" href="/docs">BELGELER</a>

									</div>
									<div th:if="${session.userAdmin}" class="col-xs-12  " style="">
										<a class=" header-text btn-block" href="/adminpanel/doc_type">BELGE
											TİPİ YÖN. </a>

									</div>
									<div th:if="${session.userAdmin}" class="col-xs-12  " style="">
										<a class=" header-text btn-block" href="/adminpanel/log">SİSTEM
											LOG </a>

									</div>

								</div></li>
							<li  style="z-index: 10" class="SosylaCount" th:if="${session.userId != null and session.userWatcher != true}"><a
								href="#" class="dropdown-toggle header-text hidden-xs">CRM
									<span class="caret"></span>
							</a> <a data-toggle="collapse" href="#collapseSM"
								class="dropdown-toggle header-text visible-xs">CRM
									<span class="caret"></span>
							</a>
								<div class="collapse " id="collapseSM">
									<div class="center ">
										<a class=" header-text btn-block " href="/sosyalmedya_fa"
											style="display: inline;">FARSÇA SOSYAL MEDYA </a> <a
											href="/sosyalmedya_fa?follow=1"> <span
											th:if="${followFa}" id="followFa" class="count "
											th:text="${followFa}" style="display: inline;"></span></a> 
											
											<br />

										<a class=" header-text btn-block" href="/sosyalmedya_ar"
											style="display: inline;">ARAPÇA SOSYAL MEDYA </a><a
											href="/sosyalmedya_ar?follow=1"><span id="followAr"
											th:if="${followAr}" class="count " th:text="${followAr}"
											style="display: inline;"></span></a>

									</div>
								</div>

								<div class="nav-dropdown-list hidden-xs box-shadow  "
									role="menu">
									<div class="col-xs-12  " style="padding: 12px;">


										<a class=" header-text btn-block left" href="/sosyalmedya_fa"
											style="display: inline;">FARSÇA SOSYAL MEDYA </a> <a
											href="/sosyalmedya_fa?follow=1"> <span
											th:if="${followFa}" id="followFa" class="count "
											th:text="${followFa}" style="display: inline;"></span></a>


									</div>
									<div class="col-xs-12  " style="padding: 12px;">
										<a class="left header-text btn-block" href="/sosyalmedya_ar"
											style="display: inline;">ARAPÇA SOSYAL MEDYA </a><a
											href="/sosyalmedya_ar?follow=1"><span id="followAr"
											th:if="${followAr}" class="count " th:text="${followAr}"
											style="display: inline;"></span></a>

									</div>
								</div></li>

							 
						</ul>
					</div>

				</nav>
			</div>
		</div>
	</header>
</body>
</html>

