<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>GÜNLÜK AJANDA</title>
<meta th:replace="fragments/admin/header::common-head" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<link href="/resources/css/jquery.ezdz.css" rel="stylesheet"
	type="text/css" />
<link rel="stylesheet" href="/resources/css/bootstrap-datepicker.css" />
</head>
<body>




	<div class="main container   col-xs-11 center-block">

		<div class="row navbar-default">
			<header th:replace="/fragments/header::top"></header>

			<header th:replace="fragments/header::header"> </header>




		</div>
		<div id="main" class="">

			<div class="col-xs-12 upper_table padding10">

				<div id="Buttons">
					<span class="header-text">GÜNLÜK AJANDA </span><span
						th:text="${date}" class="header-text"></span>
					<div class="hidden">
						<span id="yesterday" th:text="${yester}"></span> <span
							id="tommorow" th:text="${tommorow}"></span>
					</div>
				</div>

				<div id="" class="rgt">

					<div class="btn-group" role="group" aria-label="Basic example">
						<button id="prev" type="button"
							class="btn btn-default btn-md btn-md ">
							<i class="glyphicon glyphicon-menu-left"></i>
						</button>
						<button th:value="${today}" id="today" type="button"
							class="btn btn-default btn-md btn-md">Bugün</button>
						<button id="next" type="button"
							class="btn btn-default btn-md btn-md ">
							<i class="glyphicon glyphicon-menu-right"></i>
						</button>

					</div>


					<button id="searchDate" class=" btn btn-warning btn-sm ">TARIHLE
						ARA</button>
					<button id="newAjandaBtn" class=" btn btn-primary btn-sm ">YENI
						KAYIT</button>
					<button id="done" class=" btn btn-success btn-sm disabled">DURUM
						DEĞİŞTİR</button>
					<button th:if="${session.userAdmin == true  or session.userCallFa == true or session.userCallAr == true}" id="deleteAjanda" class=" btn btn-danger btn-sm disabled">SİL</button>




				</div>

				<br />
				<hr />

				<div id="empty"
					class="empty center gray_table col-xs-12 hidden white">HERHANGİ
					BİR SONUÇ BULUNAMADI</div>

				<div class=" gray_table col-xs-12 white">
					<div class="box-main  ">
						<div class="tab-content ">
							<div class="tab-pane fade in active" id="conditions">


								<div class=" table-responsive up-2">
									<table
										class="table table-hover table-bordered ic-table pointer "
										id="Table">
										<thead>
											<tr class="news_lead  navbar-default">
												<th><span id="selectall"
													class="glyphicon glyphicon-unchecked"> </span></th>

												<th>Tarih</th>

												<th>Bilgi</th>
												<th>İşlem</th>


											</tr>
										</thead>
										<tbody>
											<tr class="meshoptemplate   ##status##">

												<td class="scheck"><span
													class="glyphicon glyphicon-unchecked selected "> </span></td>
												<td class="nowrap ">##issueDate##
													<button class="disabled btn btn-default">##durum##</button>
												</td>


												<td class="nowrap "><span>##title##</span> <a
													data-toggle="tooltip" data-placement="top"
													title="KAYIT TARİHİ: ##createDate## - SON GÜNCELLEME: ##lastUpdate##"
													type="button" style="background-color: #dff0d800"
													class="sm calibri btn btn-default" href="##link##"
													target="_blank">##smname##</a></td>

												<td class="edit"><button
														class="disabled btn btn-default">
														<i class="glyphicon glyphicon-edit "> </i>
													</button></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

						<div class="row-fluid">
							<!--/* GRID PAGING*/-->
							<div class="btn-toolbar pager" role="toolbar"
								data-id="Table_page">
								<div class="btn-group btn-group-sm">
									<button type="button" class="btn btn-default">&laquo;</button>
									<button type="button" class="btn btn-default">&lsaquo;</button>
								</div>
								<div class="btn-group btn-group-sm">
									<button type="button" class="btn btn-default">2</button>
								</div>
								<div class="btn-group btn-group-sm">
									<button type="button" class="btn btn-default">&rsaquo;</button>
									<button type="button" class="btn btn-default">&raquo;</button>
								</div>

							</div>
						</div>


					</div>
				</div>

			</div>

		</div>




	</div>

	<!-- NEW PRODUCT MODAL -->
	<div class="modal fade in row" data-backdrop="static"
		data-keyboard="false" id="serachDateModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-md">

			<div class="modal-content ">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<span class="news_lead2">LOG ARA</span>

				</div>
				<div class="modal-body  " id="user-role-modal">
					<!-- Nav tabs -->

					<!-- Tab panes -->
					<div class="tab-content ">
						<!-- 						////////////////////// Tab 1 Modal /////////// -->


						<div class="tab-pane active fade in " id="public">
							<div id="installment-list" class=" table-responsive">
								<form id="log_form" class="">

									<div class="col-xs-12 ">
										<div class="form-group ">
											<label class="control-label ">Log Tarihi </label>
											<div class="input-group date" data-provide="datepicker">
												<input type="text" name="date" class="form-control" />
												<div class="input-group-addon">
													<span class="glyphicon glyphicon-th"></span>
												</div>
											</div>
										</div>

									</div>

								</form>
							</div>
						</div>



					</div>

				</div>
				<div class="modal-footer">
					<form role="form" name="frmadd2" class="form-horizontal">





						<button type="button" id="searchLog"
							class="btn btn-success  btn-sm ">
							<i class="glyphicon glyphicon-check"></i> Onayla
						</button>

						<button type="button" id="saveModal"
							class="btn btn-default btn-sm" data-dismiss="modal">Kapat</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- 	SAVE -->

	<div class="modal fade in row" data-backdrop="static"
		data-keyboard="false" id="newAjanda" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-md">

			<div class="modal-content ">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<span class="news_lead2">YENİ KAYIT</span>

				</div>
				<div class="modal-body  " id="user-role-modal">
					<div class="tab-content ">
						<div class="tab-pane active fade in meshoptemplate" id="public">
							<div id="installment-list" class=" table-responsive">
								<form id="Ajandaform" class="">
									<input class="hidden" name="id" value="" /> <input
										class="hidden" name="picpath" value="" />



									<div class=" col-xs-12">


										<div class="form-group ">
											<span class=" banner"> <label class="control-label ">BAŞLIK:
											</label> <input type="text" id="title" class="hidden" /></span> <input
												class="form-control" name="title" />

										</div>

										<div class="form-group ">
											<label class="control-label ">Müşteri Temsilcisi </label><span
												class="nassim14b "><input
												class="form-control input-sm" name="account"
												meshop:meshop-select2="/json/search/users"
												select2-type="category" multiple="multiple" /></span>
										</div>
										<div class="form-group ">
											<label class="control-label ">Müşteri </label><span
												class="nassim14b "><input
												class="form-control input-sm" name="sosyal"
												meshop:meshop-select2="/json/search/sosyalmedya"
												select2-type="category" /></span>
										</div>
										<div class="form-group ">
											<label class="control-label ">Yapılacak Tarihi </label>
											<div class="input-group date" data-provide="datepicker">
												<input type="text" name="issueDate" class="form-control" />
												<div class="input-group-addon">
													<span class="glyphicon glyphicon-th"></span>
												</div>
											</div>
										</div>




									</div>
								</form>
							</div>
						</div>



					</div>

				</div>
				<div class="modal-footer">
					<form role="form" name="frmadd2" class="form-horizontal">
						<button type="button" id="saveAjanda"
							class="btn btn-success  btn-sm ">
							<i class="glyphicon glyphicon-check"></i> Onayla
						</button>

						<button type="button" id="saveModal"
							class="btn btn-default btn-sm" data-dismiss="modal">Kapat</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade in row" data-backdrop="static"
		data-keyboard="false" id="changeStatus" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-md">

			<div class="modal-content ">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<span class="news_lead2">DURUM DEĞİŞİKLİLİĞİ</span>

				</div>
				<div class="modal-body  " id="user-role-modal">
					<div class="tab-content ">
						<div class="tab-pane active fade in " id="public">
							<div id="installment-list" class=" table-responsive">
								<form id="Statusform" class="">
									<input class="hidden" name="id" value="" /> <input
										class="hidden" name="picpath" value="" />



									<div class=" col-xs-12">



										<span class=" banner"> <label class="control-label ">DURUM:
										</label> <input type="text" id="title" class="hidden" /></span>
										<div class="form-group">
											<select id="status" name="status" class="form-control">
												<option value="0" disabled="disabled" selected="selected">SON
													DURUM NE?</option>
												<option value="1">AÇIK</option>
												<option value="2">BEKLEMEDE</option>
												<option value="3">YAPILDI</option>
												<option value="4">KAPANDI</option>
											</select>
										</div>


										<div class="form-group">
											<label class="control-label">Not</label>
											<textarea class="form-control input-sm" maxlength="245"
												rows="3" name="reply" style="height: 50px;"></textarea>
										</div>






									</div>
								</form>
							</div>
						</div>



					</div>

				</div>
				<div class="modal-footer">
					<form role="form" name="frmadd2" class="form-horizontal">
						<button type="button" id="statusBTN"
							class="btn btn-success  btn-sm disabled ">
							<i class="glyphicon glyphicon-check"></i> Onayla
						</button>

						<button type="button" id="saveModal"
							class="btn btn-default btn-sm" data-dismiss="modal">Kapat</button>
					</form>
				</div>
			</div>
		</div>
	</div>
		<header th:replace="fragments/printable_sosyalmedya::sosyalmedya"></header>
	
	<div class="modal fade in row" data-backdrop="static"
		data-keyboard="false" id="new_reply_modal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-md">

			<div class="modal-content ">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<span class="news_lead2">TAKİP</span>

				</div>
				<div class="modal-body  " id="user-role-modal">
					<!-- Nav tabs -->
					<div class="tab-content ">
						<!-- 						////////////////////// Tab 1 Modal /////////// -->


						<div class="tab-pane active fade in meshoptemplate" id="public">
							<div id="installment-list" class=" table-responsive">
								<form id="reply_form" class="">
									<input class="hidden" name="language" th:value="${language}" />
									<input class="hidden" name="smid" value="" /><input
										class="hidden" name="id" value="" /> <input class="hidden"
										name="picpath" value="" />

									<div class="col-xs-12 ">



										<div class="form-group ">
											<label class="control-label ">Müşteri Temsilcisi </label><span
												class="nassim14b "><input
												class="form-control input-sm" name="accounts"
												meshop:meshop-select2="/json/search/users"
												select2-type="category" multiple="multiple" /></span>
										</div>

										<div class="form-group ">
											<label class="control-label ">Gerçekleştirme Tarihi </label>
											<div class="input-group date" data-provide="datepicker">
												<input type="text" name="createDate" class="form-control" />
												<div class="input-group-addon">
													<span class="glyphicon glyphicon-th"></span>
												</div>
											</div>
										</div>

										<div class="form-group">
											<label class="control-label">Not</label>
											<textarea class="form-control input-sm" maxlength="245"
												rows="3" name="note" style="height: 50px;"></textarea>
										</div>
									</div>


								</form>
							</div>
						</div>



					</div>

				</div>
				<div class="modal-footer">
					<form role="form" name="frmadd2" class="form-horizontal">
						<button type="button" id="saveReply"
							class="btn btn-success  btn-sm ">
							<i class="glyphicon glyphicon-check"></i> Onayla
						</button>

						<button type="button" id="saveModal"
							class="btn btn-default btn-sm" data-dismiss="modal">Kapat</button>
					</form>
				</div>


			</div>
		</div>
	</div>
	


		<script th:replace="fragments/admin/header::common-script-local"></script>
		<script src="/resources/js/admin/bootstrap-datepicker.js"></script>
		<script src="/resources/js/moment.min.js"></script>
			<script src="/resources/js/printThis.js"></script>
		
		<script src="/resources/js/ajanda.js?ver=1.0" charset="utf-8"></script>
</body>
</html>
