<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>DELTAKİP / Log</title>
<meta th:replace="fragments/admin/header::common-head" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<link href="/resources/css/jquery.ezdz.css" rel="stylesheet"
	type="text/css" />
<link rel="stylesheet" href="/resources/css/bootstrap-datepicker.css" />
</head>
<body>




	<div class="main container   col-xs-11 center-block">

		<div class="row navbar-default">
			<header th:replace="/fragments/header::top"></header>

			<header th:replace="fragments/header::header"> </header>




		</div>
		<div id="main" class="">

			<div class="col-xs-12 upper_table padding10">
				 
				<div id="Buttons">
					<span th:text="${date}" class="header-text"></span>
					<div class="hidden">
						<span id="yesterday" th:text="${yester}"></span> <span
							id="tommorow" th:text="${tommorow}"></span>
					</div>
				</div>

				<div id="" class="rgt">

					<div class="btn-group" role="group" aria-label="Basic example">
						<button id="prev" type="button"
							class="btn btn-default btn-md btn-md ">
							<i class="glyphicon glyphicon-menu-left"></i>
						</button>
						<button th:value="${today}" id="today" type="button"
							class="btn btn-default btn-md btn-md">Bugün</button>
						<button id="next" type="button"
							class="btn btn-default btn-md btn-md ">
							<i class="glyphicon glyphicon-menu-right"></i>
						</button>

					</div>


					<button id="searchDate" class=" btn btn-primary btn-md ">Tarihle
						Ara</button>




				</div>

				<div id="empty"
					class="empty center gray_table col-xs-12 hidden white">HERHANGİ
					BİR SONUÇ BULUNAMADI</div>

				<div class=" gray_table col-xs-12 white">
					<div class="box-main  ">
						<div class="tab-content ">
							<div class="tab-pane fade in active" id="conditions">


								<div class=" table-responsive up-2">
									<table
										class="table table-hover table-bordered ic-table pointer "
										id="Table">
										<thead>
											<tr class="news_lead  navbar-default">

												<th>Tarih</th>

												<th>Bilgi</th>


											</tr>
										</thead>
										<tbody>
											<tr class="meshoptemplate info">


												<td class="labeled_nowrap">##date## [##time##]</td>


												<td class="labeled_nowrap"><span>##message##</span></td>


											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>



					</div>
				</div>

			</div>

		</div>




	</div>

	<!-- NEW PRODUCT MODAL -->
	<div class="modal fade in row" data-backdrop="static"
		data-keyboard="false" id="serachDateModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-md">

			<div class="modal-content ">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<span class="news_lead2">LOG ARA</span>

				</div>
				<div class="modal-body  " id="user-role-modal">
					<!-- Nav tabs -->

					<!-- Tab panes -->
					<div class="tab-content ">
						<!-- 						////////////////////// Tab 1 Modal /////////// -->


						<div class="tab-pane active fade in " id="public">
							<div id="installment-list" class=" table-responsive">
								<form id="log_form" class="">

									<div class="col-xs-12 ">
										<div class="form-group ">
											<label class="control-label ">Log Tarihi </label>
											<div class="input-group date" data-provide="datepicker">
												<input type="text" name="date" class="form-control" />
												<div class="input-group-addon">
													<span class="glyphicon glyphicon-th"></span>
												</div>
											</div>
										</div>

									</div>

								</form>
							</div>
						</div>



					</div>

				</div>
				<div class="modal-footer">
					<form role="form" name="frmadd2" class="form-horizontal">





						<button type="button" id="searchLog"
							class="btn btn-success  btn-sm ">
							<i class="glyphicon glyphicon-check"></i> Onayla
						</button>

						<button type="button" id="saveModal"
							class="btn btn-default btn-sm" data-dismiss="modal">Kapat</button>
					</form>
				</div>
			</div>
		</div>
	</div>


	<script th:replace="fragments/admin/header::common-script-local"></script>
	<script src="/resources/js/admin/bootstrap-datepicker.js"></script>
	<script src="/resources/js/log.js?ver=1.2" charset="utf-8"></script>




</body>
</html>
