<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>DELTAKİP-AJANDA</title>
<meta th:replace="fragments/admin/header::common-head" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<link rel="stylesheet" href="/resources/css/bootstrap-datepicker.css" />
<link rel="stylesheet" href="/resources/css/calender/main.css" />
<link href="/resources/css/jquery.ezdz.css" rel="stylesheet"
	type="text/css" />

</head>
<body>




	<div class="main container  col-xs-11 center-block">

		<div class="row navbar-default">
			<header th:replace="/fragments/header::top"></header>

			<header th:replace="fragments/header::header"> </header>




		</div>
		<div id="main" class="">

			<div class="col-xs-12 upper_table padding10">
				<span class="header-text">ÖDENMEYENLER TABLOSU </span>




				<hr />

				<div th:each="in : ${ins}"
					class="col-lg-3 col-md-4 col-sm-6 col-xs-12">

					<a th:href="@{/installment_manage/?listId={listId}(listId=${in.id})}" target="_blank">

						<div th:id="${in.id}" class="paid-tablo col-xs-12">


							<div th:each="cus : ${in.contract.customer}"
								class="col-xs-12 top3 center tablo-name">

								<span th:text="${cus.fname}">CUSTOMER NAME</span> <br /> <span
									th:id="${in.id}"></span>

							</div>


							<div class="col-xs-12 top1 center section-name ">


								<th:block th:switch="${in.currency}">

									<div style="color: #a00606;" th:case="'1'">
										<span th:if="${in.partial}" th:text="${in.amount}   "
											class=" text-line"> </span> <span th:if="${in.partial}">₺</span>
									</div>
									<div style="color: #a00606;" th:case="'2'">
										<span th:if="${in.partial}"  th:text="${in.amount}    "
											class=" text-line"> </span> <span th:if="${in.partial}">$</span>
									</div>
									<div style="color: #a00606;" th:case="'3'">

										<span th:if="${in.partial}" th:text="${in.amount}   "
											class=" text-line"> </span> <span th:if="${in.partial}">€</span>
									</div>
								</th:block>



								<th:block th:switch="${in.currency}">
									<div th:case="'1'">
										<span th:unless="${in.partial}" th:text="${in.amount}"
											class=""> </span> <span th:unless="${in.partial}">₺</span>
									</div>
									<div th:case="'2'">
										<span th:unless="${in.partial}" th:text="${in.amount}"
											class=""> </span> <span th:unless="${in.partial}">$</span>
									</div>
									<div th:case="'3'">
										<span th:unless="${in.partial}" th:text="${in.amount}"
											class=""> </span> <span th:unless="${in.partial}">€</span>
									</div>
								</th:block>


								<th:block th:switch="${in.currency}">
									<div th:case="'1'">
										<span th:if="${in.partial}" th:text="${in.partial_amount}">
										</span> <span th:if="${in.partial}">₺</span>
									</div>
									<div th:case="'2'">
										<span th:if="${in.partial}" th:text="${in.partial_amount}">
										</span> <span th:if="${in.partial}">$</span>
									</div>
									<div th:case="'3'">
										<span th:if="${in.partial}" th:text="${in.partial_amount}">
										</span> <span th:if="${in.partial}">€</span>
									</div>
								</th:block>


							</div>

							<div class="col-xs-12 top1 center tablo-name">

								<span th:text="${#dates.format(in.issueDate, 'dd-MMM-yyyy')}"></span>

							</div>
							<hr />

							<div class="col-xs-12 top1 center tablo-name">

								<span th:text="${in.contract.section}"></span>

							</div>
							<div class="news_text ">

								<span th:text="${in.description}"></span>

							</div>

						</div>

					</a>
				</div>




			</div>
		</div>




	</div>







	<!-- 		<footer th:replace="fragments/footer::footer"> </footer> -->
	<script th:replace="fragments/admin/header::common-script-local"></script>





</body>
</html>
